<!DOCTYPE html>
<html>
  <head>
    <title>VisorHistorico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="navbar bg-base-300">
      <div class="flex-1">
        <%= link_to 'Visor Historico', root_path, class: 'btn btn-ghost text-xl' %>
      </div>
      <div class="flex-none gap-2">
        <ul class="menu menu-horizontal px-1">
          <% if session.dig('userinfo').nil? %>
            <li>
              <!--<%= link_to 'Log In', '/auth/auth0', method: :post %>-->
              <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %>
            </li>
          <% else %>
            <li>
              <!-- <%= link_to 'Sign Up' %> -->
              <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
